:root {
  --clr-primary-500: hsl(271, 36%, 24%);
  --clr-primary-400: hsl(276, 55%, 52%);
  --clr-primary-300: hsl(289, 100%, 72%);
  --clr-secondary-400: hsl(276, 100%, 81%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 20%, 96%);
  --clr-neutral-300: hsl(206, 6%, 79%);
  --clr-neutral-400: hsl(270, 7%, 64%);
  --clr-neutral-500: hsl(271, 15%, 43%);

  --clr-vibrant-400: hsl(293, 100%, 63%);
  --clr-vibrant-500: hsl(264, 100%, 61%);

  --ff-primary: "Rubik", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 600;

  --fs-50: 0.4rem;
  --fs-100: 0.5rem;
  --fs-200: 0.625rem;
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-700: 2.5rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
a {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  background-color: var(--clr-neutral-200);
  font-family: var(--ff-primary);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;

  }
}

.drop {
  width: 30rem;
  height: 38rem;
  max-height: 95dvh;
  border-radius: 0 0 17rem 15rem;
  position: relative;
  background: hsl(270, 1%, 94%);
  z-index: -1;
}

.purple-drop {
  background: linear-gradient(var(--clr-vibrant-400) 0%, var(--clr-vibrant-500));
  top: 0;
  left: -5rem;
}

.reverse-drop {
  width: 30rem;
  position: absolute;
  right: -10rem;
  top: 8rem;
  border-radius: 15rem 15rem 0 0;
}

body {
  margin: 0;
  padding: 0;
}

.main-section {
  display: flex;
  align-items: center;
}

section {
  padding: 0;
  margin: 0;
}

.mobile {
  background-color: var(--clr-neutral-200);
  outline: var(--clr-neutral-100) solid 10px;
  width: 13.5rem;
  border-radius: 22px;
  box-shadow: 0px 28px 44px hsla(195, 2%, 55%, 0.4);
  position: relative;
  left: -8.4rem;
  top: 2rem;
  padding-bottom: .75rem;
}

.right-side {
  display: flex;
  align-items: flex-start;
}

.mobile>header {
  background: linear-gradient(90deg, rgb(140, 59, 252), rgb(228, 67, 255));
  padding: 0 .75rem .6rem 1rem;
  border-radius: 10px 10px 6px 6px;
}

.mobile>header>.notch {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 62%;
  height: 1.1rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0 0 14px 14px;
  margin-bottom: 0.5rem;
}

.mobile>header>.contact-info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.three-dots {
  margin-left: auto;
}

.person-info {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.person-img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--clr-neutral-100);
  outline: var(--clr-neutral-100) solid 1px;
}

.person-img>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cls-1 {
  fill: var(--clr-neutral-100);
}

.person-info>div>.name {
  font-family: var(--ff-primary);
  font-size: .64rem;
  font-weight: var(--fw-700);
  color: var(--clr-neutral-200);
}

.person-info>div>.status {
  font-family: var(--ff-primary);
  font-size: 0.5rem;
  font-weight: var(--fw-400);
  color: var(--clr-neutral-300);
}

.chat-section {
  padding: .75rem .5rem 0 .5rem;
}

.chat-box {
  background-color: var(--clr-neutral-100);
  width: fit-content;
  border-radius: .5rem .5em 5px .5rem;
  position: relative;
  top: 0;
  margin-bottom: .5rem;
  margin-left: auto;
  padding: 0.4rem .5rem 0.3rem .5rem;
  padding: .3rem;
  font-family: var(--ff-primary);
  font-size: var(--fs-100);
  font-weight: var(--fw-400);
  background-color: var(--clr-neutral-100);
  transform-origin: bottom right;
  transform: scale(0);
  animation: message 0.2s ease-out forwards;
  animation-delay: var(--delay);
}

@keyframes message {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }

}

.chat-box>p {
  max-width: 22ch;
}

.chat-box:nth-child(5) {
  margin-bottom: 1.2rem;
}

.other-person {
  border-radius: .5rem .5rem .5rem 5px;
  background-color: hsl(273, 77%, 92%);
  color: var(--clr-primary-400);
  margin-left: 0;
  transform-origin: bottom left;
}

.images-box {
  max-width: 65%;
  display: grid;
  align-items: start;
  justify-content: end;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  background-color: transparent;
  padding: 0;
}

.images-box>img {
  width: 2.65rem;
  aspect-ratio: 1;
  border-radius: .6rem;
  margin-top: 10px;
}

.price-box {
  display: flex;
  align-items: center;
  gap: .3rem;
  background: linear-gradient(90deg, rgb(228, 67, 255), rgb(140, 59, 252));
  min-width: 75%;
  color: var(--clr-neutral-100);
  padding-right: 1rem;
  padding: 0.5rem 1rem 0.5rem .5rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-clip: content-box;
  border: 0.1em solid var(--clr-primary-300);
  border-radius: 50%;
  background-color: transparent;
  transition: border-color 0.2s ease-out;
  margin: 0 0.5em 0 0;
  transition: outline 0.2s ease-out;
}

input[type="radio"]:checked {
  background-color: var(--clr-neutral-300);
  outline: var(--clr-primary-300) solid 2px;
  outline-offset: -2px;
}

.price-box>.price {
  font-weight: var(--fw-700);
  font-size: var(--fs-300);
  margin-left: auto;
}

.send-box {
  background-color: var(--clr-neutral-100);
  padding: .4rem 0rem .4rem 1rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

input[type="text"] {
  border: none;
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
}

input[type="text"]::placeholder {
  color: var(--clr-neutral-400);
}

button[type="submit"] {
  border: none;
  background-color: transparent;
  height: 23px !important;
  width: 40px !important;
  cursor: pointer;
  padding: 0;
  height: fit-content;
  margin-left: auto;
}

.left-side {
  font-family: var(--ff-primary);
  max-width: 45ch;
}

.left-side>p {
  color: var(--clr-neutral-400);
  line-height: 1.75;
  font-size: var(--fs-400);
}

.left-side>h2 {
  font-size: var(--fs-700);
  color: var(--clr-primary-500);
  margin-bottom: 1rem;
}

@media screen and (max-width: 1160px) {
  .main-section {
    flex-direction: column;
  }

  .mobile {
    left: 0;
    top: 0;
  }

  .main-section {
    left: -15rem;
  }
}